.authentication {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .modal {
        position: absolute;
        width: 500px;
        border: 1px solid rgb(70, 70, 70);
        padding: 18px;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 10px;

        &__content {
            display: flex;
            flex-direction: column;

            &--title {
                font-size: 24px;
                color: rgb(40, 40, 40);
            }

            &--close-btn {
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 0;
                width: 30px;
                height: 30px;
                background-color: red;
            }

            &--tabs {
                margin: 16px 0px;
                display: flex;

                li {
                    width: 50%;
                    text-align: center;
                    font-size: 20px;
                    padding: 8px 0px;
                    border-radius: 4px;
                    cursor: pointer;

                    a {
                        color: rgb(40, 40, 40);
                    }

                    &:hover {
                        a {
                            color: rgb(3, 119, 190);
                        }
                    }
                }

                .active-element {
                    background-color: rgb(3, 119, 190);
                    a {
                        color: white;
                    }

                    &:hover {
                        a {
                            color: white;
                        }
                    }
                }

            }

        }

    }
}