.manage-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &__content {
        position: absolute;
        width: 500px;
        border: 1px solid rgb(70, 70, 70);
        padding: 18px;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 10px;

        &--title {
            font-size: 20px;
            color: rgb(69, 69, 69);
            text-transform: capitalize;
        }

        &--close-btn {
            cursor: pointer;
            position: absolute;
            top: 8px;
            right: 12px;
            z-index: 50;
            font-size: 24px;
            color: rgb(69, 69, 69);

            &:hover {
                transform: scale(1.1);
            }
        }

        .manage-item-alert-message {
            color: green;
            text-align: center;
            font-weight: bold;
            border-radius: 4px;
            padding-top: 16px;
        }

        .add-form,
        .update-form {
            padding-top: 16px;

            &__field {
                margin-bottom: 12px;

                label {
                    display: block;
                    margin-bottom: 8px;
                    color: rgb(71, 71, 71);
                    font-size: 18px;
                }

                &--input {
                    display: block;
                    width: 100%;
                    padding: 12px;
                    color: rgb(110, 110, 110);
                    border: 1px solid rgb(205, 205, 205);
                    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
                    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                    transition-duration: 150ms;
                    transition-duration: 500ms;
                    border-radius: 4px;

                    &:focus {
                        outline: 2px solid transparent;
                        outline-offset: 2px;
                        border-color: black;
                    }
                }

                .error {
                    display: block;
                    padding-top: 6px;
                    color: red;
                }
            }

            &__submit-btn {
                border: none;
                display: block;
                width: 100%;
                background-color: rgb(0, 110, 255);
                color: white;
                padding: 10px 12px;
                border-radius: 4px;
                cursor: pointer;

                &:hover {
                    filter: brightness(1.2);
                }
            }
        }

        .delete-form {
            .alert-message {
                font-size: 18px;
                padding: 20px 0px;
                color: lightcoral;
                line-height: 150%;
            }

            .delete-btn {
                font-size: 16px;
                border: none;
                border-radius: 5px;
                padding: 10px 24px;
                background-color: lightcoral;
                color: white;
                cursor: pointer;

                &:hover {
                    filter: brightness(1.2);
                }
            }
        }
    }
}