* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  // border: 1px solid red;
}


body {
  min-height: 100vh;
}

@import './views/home.scss';

@import './components/header.scss';
@import './components/footer.scss';
@import './components/homeBanner.scss';
@import './components/homePanel.scss';
@import './components/authentication.scss';
@import './components/loginForm.scss';
@import './components/registerForm.scss';

.hidden {
  display: none;
}
