.authentication {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .modal {
        position: absolute;
        width: 90%;
        border: 1px solid rgb(70, 70, 70);
        padding: 18px;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 10px;

        @include breakpoint(mobile) {
            width: 500px;
        }

        &__content {
            display: flex;
            flex-direction: column;

            &--title {
                font-size: 20px;
                color: rgb(40, 40, 40);

                @include breakpoint(mobile) {
                    font-size: 24px;
                }
            }

            &--close-btn {
                cursor: pointer;
                position: absolute;
                top: 8px;
                right: 12px;
                z-index: 50;
                font-size: 24px;

                &:hover {
                    transform: scale(1.1);
                }
            }

            &--tabs {
                margin: 16px 0px;
                display: flex;

                li {
                    width: 50%;
                    text-align: center;
                    font-size: 16px;
                    padding: 8px 0px;
                    border-radius: 4px;
                    cursor: pointer;

                    @include breakpoint(mobile) {
                        font-size: 20px;
                        padding: 8px 0px;
                    }

                    a {
                        color: rgb(40, 40, 40);
                    }

                    &:hover {
                        a {
                            color: rgb(3, 119, 190);
                        }
                    }
                }

                .active-element {
                    background-color: rgb(3, 119, 190);
                    a {
                        color: white;
                    }

                    &:hover {
                        a {
                            color: white;
                        }
                    }
                }

            }
        }
    }
}